<!DOCTYPE html>
<html>
  <head>
    <title>JR Portfolio</title>
      <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
      <script src="https://use.fontawesome.com/3a0d0daa04.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header id="main_navigation" class="clearfix">
      <%= link_to "Jay's Home", root_path, class: "name" %>
      <nav>
        <%= link_to "Articles", posts_path %>
        <%= link_to "Projects", projects_path %>
        <%= link_to "Contact", new_contact_path %>
        <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% end %>
      </nav>
    </header>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>

    <footer id="main_footer">
      <p class="copyright">&copy; 2016 Jay's Home</p>
      <nav>
        <a href="https://www.facebook.com/pages/Oasis-Of-The-Fresh-Anointing/429643217076145" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </nav>
    </footer>

  </body>
</html>
