<!DOCTYPE html>
<html>
<head>
  <title>OFAM Daily</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <script src="https://use.fontawesome.com/3a0d0daa04.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
    <a href="#", class="name">Oasis Ministries</a>
    <nav>
      <%= link_to "Articles", posts_path %>
      <a href="#">Projects</a>
      <a href="#">Contacts</a>
    </nav>
  </header>

<%= yield %>

</body>
</html>
